!!!
%html
  %head
    %title Railsgirls
    %link{href: "//railsgirls.com/assets/bootstrap.css", rel: "stylesheet"}/
    %link{href: "//railsgirls.com/assets/bootstrap-theme.css", rel: "stylesheet"}/
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "/pages/info"} Home
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{href: "/ideas"} Ideas
            %li
              %a{href: "/projects"} About
            %p.navbar-text.pull-right
              - if user_signed_in?
                Logged in as
                = succeed "." do
                  %strong= link_to current_user.email, current_user
                = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
                |
                = link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'
              - else
                = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
                |
                = link_to "Login", new_user_session_path, :class => 'navbar-link'
    - if notice
      %p.alert.alert-notice= notice
    - if alert
      %p.alert.alert-error= alert
    .container
      = yield
    %footer
      .container
        Roberts Eihmanis
    %script{src: "//railsgirls.com/assets/bootstrap.js"}